# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
test_*.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Node.js (used for icon conversion)
node_modules/
package.json
package-lock.json
